<!-- extend base layout -->
{% extends "base.html" %}

{% block js %}
    <script type="text/javascript">
    function set_openid(openid, pr)
    {
        u = openid.search('<first_name>');
        if (u != -1) {
            // openid requires first_name
            user = prompt('Enter your ' + pr + ' first_name:');
            openid = openid.substr(0, u) + user;
        }
        form = document.forms['login'];
        form.elements['openid'].value = openid;
    }
    </script>

{% endblock %}

{% block main %}
    <h1>Sign In</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            Please enter your OpenID, or select one of the providers below:<br>
            {{ form.openid(size=80) }}
            {% for error in form.openid.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
            |{% for prkey in providers.keys() %}
                <a href="javascript:set_openid('{{ providers[prkey] }}', '{{ prkey }}');">{{ prkey }}</a> |
            {% endfor %}
        </p>
        <p>{{ form.remember_me }} Remember Me</p>
        <p><input type="submit" value="Sign In"></p>
    </form>
{% endblock %}
