{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<form action="{{ url_for('profile_add') }}" method="post" name="profileForm" enctype=multipart/form-data>

       first name: {{ form.first_name }}<br />
       last name: {{ form.last_name }}<br />

       Gender: <select name="gender"> 
              <option value="male" selected>M</option>
              <option value="female">F</option>
       </select>
       

       <div>
              Select an image:<input id="image" name="image" class="element text" type="file"/> 
       </div> 

       <input type="submit" />                

</form> 
{% endblock %}
